# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
ENV/
venv/

# PyCharm project settings
.idea/
*.iml

# VSCode (на всякий случай)
.vscode/

# Environment files
.env
.env.*

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log
